@model Questioner.Models.Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Html.DisplayFor(model => model.Question1);
}


<div class="container-fluid vertical-center">
    <div class="row">
        <h1>@Html.DisplayFor(model => model.Question1)?</h1>
    </div>
    <div class="row">
        <button type="button" id="yes" class="btn btn-success pull-left">YES</button>
        <button type="button" id="no" class="btn btn-warning pull-right">NO</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#yes").click(function () {
            $.get("/api/Questions/@Model.Question1/true")
             .success(function (data) {
                 location.reload(true);
             })
        })
        $("#no").click(function () {
            $.get("/api/Questions/@Model.Question1/false")
             .success(function (data) {
                 location.reload(true);
             })
        })
    });
</script>
