body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* bootstrap overrides */
.form-control, .container .jumbotron {
    border-radius: 0;
}

.btn-info {
    border-radius: 0;
    width: 100%;
    -webkit-box-shadow: 10px 10px 19px 0px rgba(163,163,163,1);
    -moz-box-shadow: 10px 10px 19px 0px rgba(163,163,163,1);
    box-shadow: 10px 10px 19px 0px rgba(163,163,163,1);
}


.table-striped > .row-data:nth-of-type(odd) {
    background-color: #f9f9f9;
}


.table-border {
    border: 2px solid #772953;
}


.table-head {
    background-color: #772953;
    color: #fff;
    font-weight: 700;
    border-bottom: 1px solid grey;
}

.btn-wide {
    border-radius: 0;
    width: 100%;
    height: 20rem;
    font-weight: 700;
    font-size: 10rem;
}

.btn-narrow {
    border-radius: 0;
    width: 100%;
    height: 20rem;
    font-weight: 700;
    font-size: 5rem;
}


.vertical-center {
 padding: 5% 0;
}

.btnSize {
    width: 30rem;
}

.h1 {
    font-size: 60px;
}

.spacing {
    margin-bottom: 10px;
}
